Assignment-11/Ass-11.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "filePath": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "filePath"
                        ]
                    }
                }
            }
        },
        "actions": {
            "Response": {
                "runAfter": {
                    "Check_Blob_Exists": [
                        "Failed"
                    ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 404,
                    "body": {
                        "error": "File not found"
                    }
                }
            },
            "Check_Blob_Exists": {
                "actions": {
                    "Get_Blob_Metadata_using_path_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/GetFileByPath",
                            "queries": {
                                "path": "@triggerBody()?['filePath']",
                                "queryParametersSingleEncoded": true
                            }
                        }
                    }
                },
                "runAfter": {},
                "type": "Scope"
            },
            "Get_blob_content_using_path_(V2)": {
                "runAfter": {
                    "Check_Blob_Exists": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/GetFileContentByPath",
                    "queries": {
                        "path": "@triggerBody()?['filePath']",
                        "inferContentType": true,
                        "queryParametersSingleEncoded": true
                    }
                }
            },
            "Condition": {
                "actions": {
                    "Response_1": {
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                            "statusCode": 400,
                            "body": {
                                "error": "File is empty"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_blob_content_using_path_(V2)": [
                        "Succeeded"
                    ]
                },
                "else": {
                    "actions": {
                        "Response_2": {
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "message": "File is valid and has data"
                                }
                            }
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(body('Get_blob_content_using_path_(V2)'))",
                                0
                            ]
                        }
                    ]
                },
                "type": "If"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureblob": {
                    "id": "/subscriptions/f27a2135-1ae7-44b2-b514-f0b7b1dcbfba/providers/Microsoft.Web/locations/centralindia/managedApis/azureblob",
                    "connectionId": "/subscriptions/f27a2135-1ae7-44b2-b514-f0b7b1dcbfba/resourceGroups/learn-f8cce328-d68b-4879-93e8-c60f2a8f3597/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob"
                }
            }
        }
    }
}